# VS 
*.sws
*.sdf
*.sln
*.opensdf
*.suo
*.vcxproj*
Debug
ipch
snstore/bin/
bin
snstore/obj/
obj
snstore.cbp
SnStore.cbp
snstore.depend
SnStore.depend
snstore.layout
snstore.pb.cc
snstore.pb.h